    <div id="page-header" class="about">
		
        <div class="container">
            <div class="page-header text-center space-top-30">
				<h1 class="page-title fadeInDown animated first">インターネットを用いて、自動で記録をし、喜ばれる価値を創造する</h1>
				<p class="slide-text fadeInUp animated second">経営理念</p>
            </div>
            </div><!-- / page-header-content -->
        </div><!-- / container -->
    </div><!-- / page-header -->
<!-- about -->
<section id="about">
    <div class="container">
        <div class="text-wrap">
            
			<div class="page-header-content text-center">
                <div class="page-header wsub">
                    <h1 class="page-title fadeInDown animated first">株式会社フリーレイルズ</h1>
                </div><!-- / page-header -->
                <p class="slide-text fadeInUp animated second">会社概要</p>
			<div class="row grid">
				<div class="col-sm-4 grid-cell">
					<!-- テーブルを右寄せするため空欄 -->
				</div>
				<div class="col-sm-4 grid-cell third mobile-comapny-table">
					<table>
						  <tr>
							<th style="width:40%">会社名</th>
							<td style="width:60%">株式会社フリーレイルズ</td>
						  </tr>
						  <tr>
							<th>設立</th>
							<td>2019年07月4日</td>
						  </tr>
						　<tr>
							<th>代表取締役</th>
							<td>松田　健</td>
						  </tr>
						  <tr>
							<th>従業員数</th>
							<td>1人（年内2人に増える予定）</td>
						  </tr>
						  <tr>
							<th>所在地</th>
							<td>千葉県船橋市JR津田沼駅周辺</td>
						  </tr>
						  <tr>
							<th>事業内容</th>
							<td>ソフトウェア開発事業・ECサイト運営事業・広告自動化ツール事業・日中コミュニケーションECサイト運営事業</td>
						  </tr>
						  <tr>
							<th>資本金</th>
							<td>1円</td>
						  </tr>
						</table>
					<br>
				</div>
				<div class="col-sm-4 grid-cell">
					<!-- テーブルを右寄せするため空欄 -->
				</div>
			</div>
            <p class="large-p"></p><!-- 段落があれば分ける -->
            <div class="page-header text-center space-top-30">
				<h1 class="page-title fadeInDown animated first">Mundus</h1>
				<p class="slide-text fadeInUp animated second">プロダクト</p>
            </div>
            <div class="row grid">
					<div class="grid-cell"></div>
					<div class="grid-cell third">
						化粧品販売サイト。
					</div>
					<div class="grid-cell"></div>
			</div>
			
			<div class="page-header text-center space-top-30">
				<h1 class="page-title fadeInDown animated first">最適画像スクレイピングシステム</h1>
				<p class="slide-text fadeInUp animated second">プロダクト</p>
		</div>
				<div class="row grid">
					<div class="grid-cell"></div>
					<div class="grid-cell third">
						画像に含まれているテキストを発見し、1個ずつ精査するウェブシステム。
					</div>
					<div class="grid-cell"></div>
			</div>
		<div class="page-header text-center space-top-30">
				<h1 class="page-title fadeInDown animated first">中国塾サイト</h1>
				<p class="slide-text fadeInUp animated second">プロダクト</p>
		</div>
				<div class="row grid">
					<div class="grid-cell"></div>
					<div class="grid-cell third">
						日本語学校や日本の大学へ進学したい中国の現地の学生をサポートするサイト。
					</div>
					<div class="grid-cell"></div>
			</div>
            
        </div><!-- / text-wrap -->
			<!-- <div class="full-width-image"></div> -->
			<%= image_tag "1200x400.png"%>
			
        <div class="row grid">
			<div class="grid-cell"></div>
            <div class="grid-cell twice mobile-comapny-table">
                <div class="page-header text-center space-top-30">
				<h1 class="page-title fadeInDown animated first">松田　健</h1>
				<p class="slide-text fadeInUp animated second">代表取締役</p>
            </div>
					<table>
						  <tr>
							<th>経歴</th>
							<td>
							  2019年　株式会社フリーレイルズ　設立
								<br>
							  2018年　株式会社レントラックス　入社
								<br>
							  2018年　早稲田大学大学院　情報生産システム研究科　卒
							</td>
						  </tr>
						  <tr>
							<th>挨拶</th>
							<td>弊社サイトをご覧いただきありがとうございます。<br>私のモットーとして、常に謙虚に全力お客様サポートを信条にしています。これは学生の頃やエンジニアとして働いていた時代に学ばせていただいた教訓であり、弊社の根幹になっております。<br>また、システム開発の信念として、我々の開発の土台はインターネットがあることでなりたちます。インターネットは誰でも情報を得られますが、本当に欲しい情報はすぐ得られません。情報を得るには正しい入力が必要になるからです。例えばWEBブラウザの検索エンジンから、スマートデバイスと呼ばれる機器（例えばGoogleHomeなど声の入力に応じて反応するデバイス）まであります。弊社では、ユーザの入力をシステムが自動で受け取り、正しいアウトプットをするシステムを開発しています。<br>ここまでお読みいただきありがとうございます。引き続き当サイトをご利用頂けますと幸いです。</td>
						  </tr>
						</table>
					<br>
				
                </div>
			<div class="grid-cell"></div>
			</div>
</section>
<!-- / about -->

<section id="testimonials">
    <div class="container">
        <div class="page-header text-center">
            <h3>TEAM</h3>
        </div><!-- / page-header -->
        <div class="row">
            <!-- testimonial -->
            <div class="col-sm-4">
                <div class="testimonial text-center">
					<%= image_tag "300x300.png"%>
                    <h5>Johanna Doe</h5>
                    <p>Quisque sit amet libero purus. Nulla a dignissim quam. In hac habitasse platea dictumst.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / testimonial -->

            <!-- testimonial -->
            <div class="col-sm-4">
                <div class="testimonial text-center">
                    <%= image_tag "300x300.png"%>
                    <h5>James Doe</h5>
                    <p>Quisque sit amet libero purus. Nulla a dignissim quam. In hac habitasse platea dictumst.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / testimonial -->

            <!-- testimonial -->
            <div class="col-sm-4">
                <div class="testimonial text-center">
                    <%= image_tag "300x300.png"%>
                    <h5>Missy Doe</h5>
                    <p>Quisque sit amet libero purus. Nulla a dignissim quam. In hac habitasse platea dictumst.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / testimonial -->

        </div><!-- / row -->
    </div><!-- / container -->
</section>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.min.js"></script>

<!-- sliders -->
<script src="js/owl.carousel.min.js"></script>
<!-- brands carousel -->
<script>
    $(document).ready(function() {
      $("#brands-carousel").owlCarousel({
        autoPlay: 5000, //set autoPlay to 5 seconds.
        items : 5,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

    });
</script>
<!-- / brands carousel -->
<!-- / sliders -->

<!-- preloader -->
<script src="js/preloader.js"></script>
<!-- / preloader -->
