<body>



<!-- content -->

<!-- my-account -->
<section id="my-account">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 account-info">
                <div id="personal-info" class="account-info-content">
                    <h4>お気に入り一覧</h4>
                    <div class="row">

                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <%= image_tag '300x300.png'%>
                        </div>
                        <div class="col-xs-6 col-sm-8 col-md-10">
							<br>
                            <p>商品名: <span>むらせさん</span></p>
                            <p>価格: <span>1円</span></p>
                        </div>
                    </div><!-- / row -->
					<div class="account-info-footer">
					<div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <%= image_tag '300x300.png'%>
                        </div>
                        <div class="col-xs-6 col-sm-8 col-md-10">
							<br>
                            <p>商品名: <span>むらせさん</span></p>
                            <p>価格: <span>1円</span></p>
                        </div>
                    </div><!-- / row -->
					</div>
					<div class="account-info-footer">
					<div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <%= image_tag '300x300.png'%>
                        </div>
                        <div class="col-xs-6 col-sm-8 col-md-10">
							<br>
                            <p>商品名: <span>むらせさん</span></p>
                            <p>価格: <span>1円</span></p>
                        </div>
                    </div><!-- / row -->
					</div>
					
                </div><!-- / personal-info -->
            </div><!-- / account-info -->

        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / my-account -->

<!-- / content -->


<!-- javascript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.min.js"></script>

<!-- scrolling-nav -->
<script src="js/scrolling-nav.js"></script>
<!-- / scrolling-nav -->

<!-- preloader -->
<script src="js/preloader.js"></script>
<!-- / preloader -->

<!-- / javascript -->
</body>