    <div id="page-header" class="checkout">
        <div class="container">
            <div class="page-header-content text-center">
                <div class="page-header wsub">
                    <h1 class="page-title fadeInDown animated first">Checkout</h1>
                </div><!-- / page-header -->
                <p class="slide-text fadeInUp animated second">Page description goes here...</p>
            </div><!-- / page-header-content -->
        </div><!-- / container -->
    </div>
<br>
<br>
<br>
<br>
<!-- shopping-cart -->
    <div class="container contents">
        <div class="row flexbox">
			<div class="box1-checkout col-sm-6 col-md-7 content-area">
				<h3>クーポンを適用</h3>
				<input type="text" class="form-control rounded" id="" placeholder="クーポンコードを記入">
                    <span class="input-group-btn">
                    <button class="btn btn-primary-filled btn-rounded" type="button"><i class="lnr lnr-tag"></i> <span>適用する</span></button>
                    </span>
			</div>
			<div>
				<br><br>
			</div>
            <div class="box2-checkout col-sm-6 col-md-7 content-area">
                <h4>合計金額: <span>$197</span></h4>
                <p>* 購入を確定</p>
                <div class="cart-total-footer">
                    <a href="shopping-cart.html" class="btn btn-default-filled btn-rounded"><i class="lnr lnr-arrow-left"></i><span>カートへ戻る</span></a>
                    <a href="shop-right.html" class="btn btn-primary-filled btn-rounded"><i class="lnr lnr-cart"></i><span>購入する</span></a>
                </div><!-- / cart-total-footer -->
            </div><!-- / checkout-total -->

        </div><!-- / row -->
    </div><!-- / container -->
<!-- / shopping-cart -->
<br>
<br>
<br>
<br>
<!-- / content -->

<!-- javascript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.min.js"></script>

<!-- preloader -->
<script src="js/preloader.js"></script>
<!-- / preloader -->
