<!-- タイトル -->
<% @page_title = "Mundus かんたん コスメEC" %>
<!-- スマホのみ表示するデバック用コード -->
<!-- <div id="test">
	<p>
		test
	</p>
</div> -->
<!-- ロゴと検索ヘッダー -->
<div id="owl-slider" class="owl-carousel">
    <div class="item product">
        <a href="single-product.html" class="product-link"></a>
        <%= image_tag "slide1.jpg" %>
    </div>
    <div class="item product">
        <a href="single-product.html" class="product-link"></a>
        <%= image_tag "slide1.jpg" %>
    </div>
    <div class="item product">
        <a href="single-product.html" class="product-link"></a>
        <%= image_tag "slide1.jpg" %>
    </div>
    <div class="item product">
        <a href="single-product.html" class="product-link"></a>
        <%= image_tag "slide1.jpg" %>
    </div>
	
</div>
<section id="shop">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 content-area">
                <p class="shop-results">Showing <strong>1-12</strong> of <strong>36</strong> items. 
                    <span class="pull-right">
                        <select class="selectpicker">
                            <optgroup label="Sort By:">
                                <option>Default</option>
                                <option>Popularity</option>
                                <option>Newness</option>
                                <option>Rating</option>
                                <option>Price Low to High</option>
                                <option>Price High to Low</option>
                            </optgroup>
                        </select>
                    </span>
                </p>
                <div id="grid" class="row">
                    <!-- product -->
                    <div class="col-xs-6 col-md-3 product">
                        <a href="single-product.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-product.jpg" alt="">
                        <!-- / product-image -->

                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product.html" class="view-btn">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="add-to-cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->

                        <!-- product-details -->
                        <div class="product-details">
                            <h3 class="product-title">Women's Shirt</h3>
                            <h6 class="product-price">$59</h6>
                        </div><!-- / product-details -->
                    </div><!-- / product -->

                    <!-- product -->
                    <div class="col-xs-6 col-md-3 product">
                        <span class="sale-label">SALE</span>
                        <a href="single-product.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-product.jpg" alt="">
                        <!-- / product-image -->

                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product.html" class="view-btn">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="add-to-cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->

                        <!-- product-details -->
                        <div class="product-details">
                            <h3 class="product-title">Women's Shirt</h3>
                            <h6 class="product-price"><del>$49</del> <span class="sale-price">$29</span></h6>
                        </div><!-- / product-details -->
                    </div><!-- / product -->

                    <!-- product -->
                    <div class="col-xs-6 col-md-3 product">
                        <a href="single-product.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-product.jpg" alt="">
                        <!-- / product-image -->

                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product.html" class="view-btn">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="add-to-cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->

                        <!-- product-details -->
                        <div class="product-details">
                            <h3 class="product-title">Women's Shirt</h3>
                            <h6 class="product-price">$99</h6>
                        </div><!-- / product-details -->
                    </div><!-- / product -->

                    <!-- product -->
                    <div class="col-xs-6 col-md-3 product">
                        <a href="single-product.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-product.jpg" alt="">
                        <!-- / product-image -->

                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product.html" class="view-btn">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="add-to-cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->

                        <!-- product-details -->
                        <div class="product-details">
                            <h3 class="product-title">Women's Shirt</h3>
                            <h6 class="product-price">$29</h6>
                        </div><!-- / product-details -->
                    </div><!-- / product -->

                    <!-- product -->
                    <div class="col-xs-6 col-md-3 product">
                        <a href="single-product.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-product.jpg" alt="">
                        <!-- / product-image -->

                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product.html" class="view-btn">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="add-to-cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->

                        <!-- product-details -->
                        <div class="product-details">
                            <h3 class="product-title">Women's Jeans</h3>
                            <h6 class="product-price">$69</h6>
                        </div><!-- / product-details -->
                    </div><!-- / product -->

                    <!-- product -->
                    <div class="col-xs-6 col-md-3 product">
                        <a href="single-product.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-product.jpg" alt="">
                        <!-- / product-image -->

                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product.html" class="view-btn">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="add-to-cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->

                        <!-- product-details -->
                        <div class="product-details">
                            <h3 class="product-title">Women's Shirt</h3>
                            <h6 class="product-price">$39</h6>
                        </div><!-- / product-details -->
                    </div><!-- / product -->

                    <!-- product -->
                    <div class="col-xs-6 col-md-3 product">
                        <a href="single-product.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-product.jpg" alt="">
                        <!-- / product-image -->

                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product.html" class="view-btn">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="add-to-cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->

                        <!-- product-details -->
                        <div class="product-details">
                            <h3 class="product-title">Designer Watch</h3>
                            <h6 class="product-price">$499</h6>
                        </div><!-- / product-details -->
                    </div><!-- / product -->

                    <!-- product -->
                    <div class="col-xs-6 col-md-3 product">
                        <a href="single-product.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-product.jpg" alt="">
                        <!-- / product-image -->

                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product.html" class="view-btn">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="add-to-cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->

                        <!-- product-details -->
                        <div class="product-details">
                            <h3 class="product-title">Men's Gloves</h3>
                            <h6 class="product-price">$199</h6>
                        </div><!-- / product-details -->
                    </div><!-- / product -->

                    <!-- product -->
                    <div class="col-xs-6 col-md-3 product">
                        <span class="sale-label">SALE</span>
                        <a href="single-product.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-product.jpg" alt="">
                        <!-- / product-image -->

                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product.html" class="view-btn">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="add-to-cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->

                        <!-- product-details -->
                        <div class="product-details">
                            <h3 class="product-title">Leather Bag</h3>
                            <h6 class="product-price"><del>$149</del> <span class="sale-price">$79</span></h6>
                        </div><!-- / product-details -->
                    </div><!-- / product -->

                    <!-- product -->
                    <div class="col-xs-6 col-md-3 product">
                        <a href="single-product.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-product.jpg" alt="">
                        <!-- / product-image -->

                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product.html" class="view-btn">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="add-to-cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->

                        <!-- product-details -->
                        <div class="product-details">
                            <h3 class="product-title">Sunglasses</h3>
                            <h6 class="product-price">$189</h6>
                        </div><!-- / product-details -->
                    </div><!-- / product -->

                    <!-- product -->
                    <div class="col-xs-6 col-md-3 product">
                        <a href="single-product.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-product.jpg" alt="">
                        <!-- / product-image -->

                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product.html" class="view-btn">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="add-to-cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->

                        <!-- product-details -->
                        <div class="product-details">
                            <h3 class="product-title">Designer Bag</h3>
                            <h6 class="product-price">$99</h6>
                        </div><!-- / product-details -->
                    </div><!-- / product -->

                    <!-- product -->
                    <div class="col-xs-6 col-md-3 product">
                        <a href="single-product.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-product.jpg" alt="">
                        <!-- / product-image -->

                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product.html" class="view-btn">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="add-to-cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->

                        <!-- product-details -->
                        <div class="product-details">
                            <h3 class="product-title">Jacket</h3>
                            <h6 class="product-price">$169</h6>
                        </div><!-- / product-details -->
                    </div><!-- / product -->

                    <!-- grid-resizer -->
                    <div class="col-xs-6 col-md-3 shuffle_sizer"></div>
                    <!-- / grid-resizer -->

                </div><!-- / row -->

                <div class="pagination">
                    <button type="button" class="btn btn-direction btn-default btn-rounded"><i class="lnr lnr-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-rounded btn-active">1</button>
                    <button type="button" class="btn btn-default btn-rounded">2</button>
                    <button type="button" class="btn btn-default btn-rounded">3</button>
                    <button type="button" class="btn btn-direction btn-default btn-rounded"><i class="lnr lnr-chevron-right"></i></button>
                </div>

            </div><!-- / content-area -->

        </div><!-- / row -->
</section>
<!-- / shop 3col -->

<!-- / content -->
<!-- ここからフッターなので切り替え -->
	
	<script>

$(document).ready(function() {
 
  $("#owl-slider").owlCarousel({

	  autoPlay: 10000,
      // navigation : true,
      slideSpeed : 600,
      paginationSpeed : 400,
	  rtl:false,
      items : 1, 
      itemsDesktop : false,
      itemsDesktopSmall : false,
      itemsTablet: false,
      itemsMobile : false
 
  });
 
});
</script>

